/* global styles for quotes */
.quotes {
    display: inline-block;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: .5px solid black;
    padding: 15px 20px;
    font-size: 20px;
    text-shadow: 1px 1px #000;
}

/* styles for individual paragraph elements*/
.p1 {
    background-image: url("../images/rose.png");
    background-repeat: repeat;
    color: orange;
}

.p2 {
    background-image: url("../images/dahlia.png");
    background-repeat: no-repeat;
    color: darkblue;
}

.p3 {
    background-image: url("../images/dahlia-flower-isolated.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: aqua;
    color: yellowgreen;
}
/*end of styles for paragraph elements */


/* responsive styles for different screen sizes*/

@media (min-width: 768) {
    .quotes {
    width: 50%;
    }
}

@media (min-width: 1024) {
    .quotes {
        width: 33%;
    }
}